@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

body{
background-color:#020a18; 
color: #fff; 
font-family: Open Sans; 
padding: 10px; 
}

/* Mobile first */
.deep-section .left-side img{
width:300px;
display: block;
margin: 0 auto;
}

.deep-section .right-side{
margin-top:80px ;
padding:20px;

}
.deep-section .right-side button{
background-color:#3a68b8 ;
color:#fff;
padding: 10px 20px;
}

.awards-section{
display:grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:20px;

}
.awards-section .card{
background-color:#0f1724;
padding:20px;
margin-right: 20px;}

.awards-section .card img{
display: block;    
margin: 0 auto;}

.solutions .left-side h2{
margin-bottom: 40px;
margin-top: 40px;
}

.solutions .left-side{
margin-bottom:40px ;}

.solutions .right-side img{
width: 300px;
display: block;
margin: 0 auto;
}

.footers{
background-color:#09111e ;
}
.footers a{
text-decoration: none;}
.footer{
padding:20px;}


.footers .footer1 h4{
color: #3a68b8;
margin:0 auto;}



.footers .footer a{
margin-bottom: 20px;} 
@media(min-width:767px){
.deep-section{
display: flex;
padding: 100px 30px;
}

.deep-section .right-side{
margin-top: 0px;
margin-left:48px;
}

.awards-section{
padding: 20px;}
}




@media(min-width:1280px){
.deep-section{
padding:200px 50px;
display: flex;
align-items: center;
}
.deep-section .left-side img{
width:500px ;}

.deep-section .right-side{
width: 500px;
font-size: 25px;}

.awards-section{
display: flex;}

.solutions{
display: flex;
align-items: center;
padding: 100px 50px;}
.solutions .left-side{
width:500px ;}
.solutions .left-side h2{
font-size: 40px;}
.solutions .right-side img{
width: 500px;
margin-left: 20px;}


}